<div class="container">
  <div class="page-header">
    <h1>New Project</h1>
    <h5><span class="label label-danger">Create a new project </span></h5>
  </div>
</div>

<div class="container">
<%= render 'form', project: @project %>

<%= link_to 'Show', @project, class: 'btn btn-info' %>
<%= link_to 'Back', projects_path, class: 'btn btn-primary' %>
</div>
